<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<div class="container">
    <label>
        <input id="In" type="text" />
        <button onclick="sendData()">发送</button>
    </label>
</div>

<script>
    const In = document.getElementById('In')
    let sendFy = {
        sender:'user'
    }

   if('WebSocket' in window){

       const ws = new WebSocket('ws:127.0.0.1:8000/ws/chat/10/')
       if(ws.readyState === 0 ){
           console.log('连接中...')
       }

       ws.onopen = function (){
           console.log('连接成功...')
       }

       ws.onclose = function (){
           console.log('连接关闭...')
       }

       ws.onerror = function (){
           console.log('连接错误...')
       }

       ws.onmessage = function (evt){
           let json_data = JSON.parse(evt.data)
           console.log('接收到信息:' + json_data.data)
       }

       function sendData(){
           sendFy['message'] = In.value
           ws.send(JSON.stringify(sendFy))
       }

   }else {
       alert('您的浏览器不支持WebSocket')
   }
</script>
</body>
</html>